* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(217, 54%, 11%)
}

.flex-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 25px;
    width: 80%;
    height: 700px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    box-shadow: 1px 40px 60px rgba(0, 0, 0, 0.405);
}